body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.container
{
    height: 100vh;
    width: 100vw;
}
nav
{
    display: flex;
    margin-left: 60vw;
    display: flex;
    flex-direction: column;
}
nav li
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top:20px;
    padding: 10px;
    list-style: none;
    color: aliceblue;
    float: left;
}
nav a
{
    color: white;
    text-decoration: none;
}
nav a:hover
{
    color: #5E6572;
    transition: 0.5s ease-out;
    font-size: 110%;
    text-decoration: underline;
    animation: normal;

}
nav input
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 100px;
    margin-left: 50px;
    margin-top: 25px;
    padding: 6px;
    border-radius: 10px;
    border: none;
    background-color: #4c80e0a2;
    color: white;
    font-size: 110%;
    cursor: pointer;
}
nav input:hover
{
    background-color: #a6bfee67;
    color: white;
    transition: 0.5s ease-out;
    text-decoration: none;
    font-size: 110%;
    transition: 0.5s ease-out;
    transform: scale(1.1);
    animation: normal;
}
#profile-pic
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 25px;
    padding: 6px;
    border-radius: 10px;
    border: none;
}
.profile-pic
{
    margin-top: 20vw;
    margin-right: 50vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 25px;
    padding: 6px;
    border-radius: 10px;
    border: none;
    width: 100;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.profile-pic img
{
    margin-right: 50vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 25px;
    padding: 6px;
    border-radius: 100%;
    border: none;
}
.profile-pic:hover
{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease-out;
}
#profile-pic:hover
{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease-out
}
h2
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 25px;
    padding: 6px;
    border-radius: 10px;
    border: none;
}

